*.zip filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.glsl text eol=crlf
*.cs linguist-language=TorqueScript
*.gui linguist-language=TorqueScript
*.mis linguist-language=TorqueScript
*.mcs linguist-language=TorqueScript